<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hash.looop"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.hash.looop.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name="com.hash.looop.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.hash.looop.ComposeLooopActivity"
            android:label="@string/title_activity_compose_status"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|stateAlwaysVisible">
        </activity>
        <activity
            android:name="com.hash.looop.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.LoginScreen"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="com.hash.looop.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.LoginScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service android:name="com.hash.looop.SocketService"/>

        <activity
            android:name="com.hash.looop.SplashScreenActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
